/* FindCharger.css */
.find-charger-modal {
  position: fixed;
  top: 105px;
  left: 2px;
  background-color: #f5f5f5;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 34.5rem;
  max-height: 79vh; /* Set a maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  padding: 15px; /* Add padding to create space for the scrollbar */
  z-index: 1; /* Ensure that the modal is above other content */
}

.port-type-1,
.port-capacity-1,
.charger-name-1 {
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #b14949; /* Change the text color to black */
}

.name-of-charger-2 {
  margin: 0;
  position: absolute;
  left: 140px;
  color: #000;
  top: 2px;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2; /* Ensure that charger-details is above find-charger-modal */
}

.charger-photo {
  max-width: 70%; /* Ensures the image is not wider than its container */
  height: auto; /* Maintains the aspect ratio of the image */
  border-radius: 8px; /* Optional: Rounds the corners of the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  margin-top: 30px; /* Adds space above the image */
  margin-bottom: 16px; /* Adds space below the image */
  border: 2px solid #ddd; /* Optional: Adds a light border around the image */
  border-color: #000;
}


.port-type-2,
.port-capacity-2,
.charger-name-2,
.port-num-2,
.Fees-2,
.Current-Type-2,
.Parking-2 {
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #fc6a00; /* Change the text color to black */
}

.charger-box {
  border-bottom: 1.5px solid #fc6a00; /* Add a border to separate charger boxes */
  padding: 15px;
  cursor: pointer; /* Add a pointer cursor to indicate clickability */
  position: relative;
  z-index: 1; /* Ensure that charger-box is above find-charger-modal */
}

.charger-box:last-child {
  border-bottom: none;
}

.charger-details {
  position: fixed;
  top: 105px;
  left: 2px;
  background-color: #f5f5f5;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 34.5rem;
  max-height: 80vh; /* Set a maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  padding: 15px; /* Add padding to create space for the scrollbar */
  z-index: 2; /* Ensure that charger-details is above find-charger-modal */
  
}

.charger-details.active {
  display: block; /* Display charger-details when it has the "active" class */
}

.close1437-1-icon1 {
  position: absolute;
  top: -3px; /* Add "px" for the top value */
  left: 30rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  cursor: pointer;
}
